
<div class="landing-container">

    <!-- Falling square elements will be added dynamically here using JavaScript -->

  <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
  <div class = "center">
  <h1>Welcome to ColaNote</h1>
  <p>A simpler, better way to fire up boring emails and reminders</p>
  <div class="buttons">

    <button mat-raised-button class="registerButton" routerLink="/register">Register</button>
    <button mat-raised-button class="loginButton" routerLink="/authenticate">Login</button>
  </div>
  </div>

</div>
