.sticky {
  cursor: move;
  width: 200px;
  height: 400px;
  padding: 1px;
  border: 1px solid #ccc;
  background-color: primary;
  border-radius: 5px;
}


.sticky-note-container {
  position: relative;
  height: 99vh;
  width: 1900px;
  border: 2px dashed #333; /* Border style for the draggable area */
}
