
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
</head>

<body>
<h1>About The Creator</h1>

<p>Welcome to Cola Note! My name is Jiwon Kim, an experienced Software Engineer with a background in Spring Boot web application development and experiences in development with Angular. Here's a brief overview of my skills and experiences:</p>

<div class="contact-info">
  <p>Phone: (408) 624-0043</p>
  <p>Email: <a href="mailto:jiwon.kim989@gmail.com">jiwon.kim989@gmail.com</a></p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/jiwonkim98/" target="_blank">Jiwon Kim's LinkedIn</a>
    <button mat-raised-button class="registerButton" (click)="downloadResume()">Download My Resume</button>
  </p>
</div>

<h2>Skills</h2>
<ul class="skills-list">
  <li>Programming Languages: Java, JavaScript, TypeScript, C, C++, C#, Swift, Python, SQL, HTML</li>
  <li>Frameworks: Angular, Spring Boot, Quarkus</li>
  <li>Programming Tools: Git, Azure, Kubernetes, Intellij, Eclipse</li>
  <li>Languages: English (Fluent), Korean (Fluent)</li>
  <li>Programming Skills: Object-Oriented Programming, Data structures, Algorithms, Restful API design</li>
</ul>

<h2>Experience</h2>
<div class="experience-item">
  <h3>General Motors – Chandler, AZ – Software Engineer</h3>
  <p>September 2020 – October 2023</p>
  <ul>
    <li>Engineered and deployed Full-Stack Open Social Gadgets utilizing Java (Spring Boot) and Javascript, automating tasks within IBM's tool sets, enhancing operations and productivity</li>
    <li>Ensured stability and reliability of critical tools through proactive bug-fixing and issue resolution</li>
    <li>Led successful data migration from Rational Quality Management to Jama by engineering an export automation tool utilizing Java (Spring Boot), minimizing downtime and preserving data integrity for over 80,000 test artifacts</li>
    <li>Engineered a Full-Stack error reporting and automated artifact repair tools, ensuring data integrity in test suites and providing real-time support for error resolution for over 10,000 artifacts utilizing Java (Spring Boot) and JavaScript</li>
    <li>Initiated and built a ground-up internal platform with Java (Quarkus) and JavaScript (Angular) to host automation and migration tools, streamlining operations, facilitating task management and deploy to GM cloud utilizing the power of Kubernetes</li>
    <li>Experience in Agile Scrum using Agile DevOps system, writing user stories, estimating story points, creating tasks, managing personal velocity, providing feedback via retrospective, and demoing and delivering completed software artifacts</li>
  </ul>
</div>

<div class="project-item">
  <h3>Cola Note – Tempe, AZ – Independent Project (github) June 2023 – Current</h3>
  <p>Created a Full-Stack Application with JavaScript (Angular) and Java (Spring Boot) to facilitate team collaboration and streamline critical announcement visualization</p>
  <ul>
    <li>Implemented Spring Security for secure access and user data protection</li>
    <li>Integrated JSON Web Token (JWT) for efficient and stateless user authentication and authorization</li>
    <li>Orchestrated deployment on AWS BeanStalk to ensure a dependable REST API service for the frontend application</li>
    <li>Utilized AWS RDS (Postgres) as a resilient and scalable database, enhancing long-term data reliability and accessibility</li>
  </ul>
</div>

<div class="project-item">
  <h3>Project Pylon – Tempe, AZ – Startup – Software Developer December 2021 – March 2022</h3>
  <p>Developed a secure signup system with an advanced password hashing system, ensuring enhanced data protection and user account security</p>
  <ul>
    <li>Engineered an efficient email confirmation system, leveraging Gmail SMTP services, to streamline user verification and ensure seamless onboarding</li>
    <li>Developed a login system to verify user’s login inputs to hashed passwords and information on the databases</li>
  </ul>
</div>

<h2>Education</h2>
<div class="education-item">
  <h3>Arizona State University, Tempe, AZ</h3>
  <p>Graduation Date: May 2020</p>
  <p>Bachelor of Science in Computer Science (Software Engineering)</p>
</div>

</body>

