<div class = "board-container">

<mat-toolbar color="primary" class = "tool-bar">

  <mat-toolbar-row>
    <mat-form-field class="board-id-field">
      <mat-label>Enter the board ID to navigate away!</mat-label>
      <input matInput placeholder="Ex. 12" [(ngModel)] = "board_id">
    </mat-form-field>
    <button mat-icon-button class = "sendtoid"  (click)="loadStickyNotes()" matTooltip="Send me away!">
      <mat-icon>send</mat-icon>
    </button>
    <span class = "board-name" [textContent] = "boardName"></span>
    <button mat-icon-button class="profile-button" aria-label="profile-button">
      <mat-icon>circle</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

    <div class = "sticky-note-container" >
      <div>
        <app-sticky-notes
          *ngFor="let note of stickyNotes"
          [note]="note"
          (positionChange)="onPositionChange($event, note)"
          (delete)="delete(note)"
          (stickyNoteUpdate)="updateStickyNote($event)"
          (stickyNoteDelete)="delete($event)"
          class="sticky-note"
          cdkDragBoundary=".sticky-note-container"
          cdkDrag
          [ngStyle]="{ 'top.px': note.yaxis, 'left.px': note.xaxis }"
          (cdkDragStarted)="positionStartChange($event, note)"
          (cdkDragEnded)="onPositionChange($event, note)"
        ></app-sticky-notes>
      </div>

      <div class = "boardid">Board ID : {{board_id}}</div>
      <button mat-fab class="menu" [matMenuTriggerFor]="menu">
        <mat-icon class="big-icon">add</mat-icon>
      </button>
      <mat-menu #menu="matMenu" matIcon="add">
        <button mat-menu-item>Create a New Board</button>
        <button mat-menu-item>Create a New Sticky Note</button>
      </mat-menu>

    </div>
</div>
