<mat-sidenav-container class="side-nav-container"   (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav mode="over" (keydown.escape)="sidenav.close()" disableClose>
    <div class="search-container">
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class = "board-container">

<!--    <button mat-button (click)="sidenav.open()">Open</button>-->
<!--    <button mat-button class = "add-button"><mat-icon>add_box</mat-icon></button>-->
    <mat-toolbar color="primary" class = "tool-bar">
      <mat-toolbar-row>

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" (click)="sidenav.open()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class = "board-name">{{boardName}}</span>

      </mat-toolbar-row>
    </mat-toolbar>

    <div class = "sticky-note-container" >
      <div>
        <app-sticky-notes
          *ngFor="let note of stickyNotes"
          [note]="note"
          (positionChange)="onPositionChange($event, note)"
          (delete)="delete(note)"
          (stickyNoteUpdate)="updateStickyNote($event)"
          (stickyNoteDelete)="delete($event)"
          class="sticky-note"
          cdkDragBoundary=".sticky-note-container"
          cdkDrag
          [ngStyle]="{ 'top.px': note.yaxis, 'left.px': note.xaxis }"
          (cdkDragStarted)="positionStartChange($event, note)"
          (cdkDragEnded)="onPositionChange($event, note)"
        ></app-sticky-notes>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
