<mat-toolbar color="primary" class = "tool-bar">
  <mat-toolbar-row>
    <span class = "board-name" [textContent] = "boardName"></span>
    <button mat-icon-button class="profile-button" aria-label="profile-button">
      <mat-icon>circle</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="side-nav-container"   (backdropClick)="sidenav.close()">

  <mat-sidenav #sidenav mode="over" (keydown.escape)="sidenav.close()" disableClose>

    <button mat-button [matMenuTriggerFor]="menu">Switch to another board</button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item></button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-sidenav>

  <mat-sidenav-content class = "board-container">
    <span class="spacer"></span>
    <button mat-icon-button class="menu-icon" (click)="sidenav.open()" aria-label="side menu icon">
      <mat-icon>menu</mat-icon>
    </button>
<!--    <button mat-button (click)="sidenav.open()">Open</button>-->
<!--    <button mat-button class = "add-button"><mat-icon>add_box</mat-icon></button>-->


    <div class = "sticky-note-container" >
      <div>
        <app-sticky-notes
          *ngFor="let note of stickyNotes"
          [note]="note"
          (positionChange)="onPositionChange($event, note)"
          (delete)="delete(note)"
          (stickyNoteUpdate)="updateStickyNote($event)"
          (stickyNoteDelete)="delete($event)"
          class="sticky-note"
          cdkDragBoundary=".sticky-note-container"
          cdkDrag
          [ngStyle]="{ 'top.px': note.yaxis, 'left.px': note.xaxis }"
          (cdkDragStarted)="positionStartChange($event, note)"
          (cdkDragEnded)="onPositionChange($event, note)"
        ></app-sticky-notes>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
