.sticky-note-container {
  margin: 0;
  padding: 0;
  height: 93vh;
  position: relative;
}

.mat-sidenav {
  width:300px;
}


.sticky-note {
  position : absolute;
  border: 1px solid #ccc;
}

.board-id-field {
  margin-top: 20px;
  width : 310px;
}

.add-button{
  position: absolute;
  top:0;
  right:0;
}

.boardid{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Baloo', cursive;
}


.board-container{
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: white;
}


.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-name {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-button {
  position: fixed;
  left : 100%;
  transform: translateX(-200%);
}

.menu{
  top: 90%;
  left: 20px;
  font-size: 24px;
}


