.sticky-note-container {
  margin: 0;
  padding: 0;
  height: 93vh;
  position: relative;
}

.mat-sidenav {
  width:300px;
}


.sticky-note {
  position : absolute;
  border: 1px solid #ccc;

}

.add-button{
  position: absolute;
  top:0;
  right:0;
}

.board-name{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.board-container{
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

.tool-bar{
  width: 100wv;
  height: 50px;
}
