

.createButton {
  display: grid;
  max-width: 2vw !important;
  min-width: 2vw !important;
  color : royalblue;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-self: right;
  width: 120px;
}
